:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --default-font-family: "Roboto", sans-serif;
  --btn-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.1em;
}

.hero {
  color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
}

.contact-btn,
.project-link {
  background-color: var(--secondary-color);
  color: #272142;
  font-family: var(--btn-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
}

.mb-3 {
  color: rgb(193, 249, 195);
  letter-spacing: 0.1em;
}

.project-description {
  color: var(--secondary-color);
  opacity: 0.8;
}

.img-fluid,
.image-holder {
  width: 400px;
  height: 400px;
  padding: 30px;
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  opacity: ;
}

.image-holder {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero {
    padding: 80px 20px;
  }

  .mb-3 {
    font-size: 32px;
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .contact-btn,
  .project-link {
    font-size: 10px;
  }

  .project-link {
    display: block;
    width: 225px;
    text-align: center;
  }
}
