:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --tertiary-color: rgb(193, 249, 195);
  --default-font-family: "Roboto", sans-serif;
  --btn-font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 100px;
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  color: rgb(167, 165, 165);
  opacity: 0.3;
}

h1,
.about-heading {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
}

.hero {
  color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
  color: var(--secondary-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.contact-btn,
.project-link {
  background-color: var(--secondary-color);
  color: #272142;
  font-family: var(--btn-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
}

.contact-btn:hover,
.project-link:hover {
  color: var(--tertiary-color);
}

.project-description {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

.content-container {
  padding: 50px 20px;
}

.content {
  margin: 30px;
}

.about-heading {
  font-size: 60px;
}

.about-paragraph {
  font-size: 24px;
  color: var(--tertiary-color);
  letter-spacing: 0.1em;
}

.shecodes-link {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

.shecodes-link:hover {
  color: var(--tertiary-color);
  font-style: italic;
  text-decoration: none;
}

.project-title {
  color: var(--tertiary-color);
  letter-spacing: 0.1em;
}

.contact-link {
  text-decoration: none;
  color: var(--tertiary-color);
}

.contact-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-box {
  background-color: var(--secondary-color);
  color: rgb(167, 165, 165);
  border-radius: 10px;
  opacity: 0.4;
  text-transform: uppercase;
  font-family: var(--btn-font-family);
}

footer .icon {
  margin: 0 20px;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}

footer .icon:hover {
  margin: 0 20px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero {
    padding: 60px 20px;
  }

  .project-title {
    font-size: 32px;
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .p-heading {
    text-align: center;
    font-size: 11px;
  }

  .contact-btn,
  .project-link {
    font-size: 10px;
  }

  .project-link {
    display: block;
    width: 225px;
    text-align: center;
  }
}

.about-section {
  text-align: center;
  padding: 0;
}
