:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --default-font-family: "Roboto", sans-serif;
  --btn-font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.1em;
}

.hero {
  color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contact-btn {
  background-color: var(--secondary-color);
  color: #272142;
  font-family: var(--btn-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
}
