:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --default-font-family: "Roboto", sans-serif;
  --btn-font-family: "Montserrat", sans-serif;
}

body {
  margin-top: 100px;
  font-family: var(--default-font-family);
  background-color: var(--primary-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.1em;
}

.hero {
  color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  opacity: 0.7;
}

.project-title {
  color: rgb(193, 249, 195);
  letter-spacing: 0.1em;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.contact-btn,
.project-link {
  background-color: var(--secondary-color);
  color: #272142;
  font-family: var(--btn-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
}

.contact-btn:hover,
.project-link:hover {
  color: rgb(155, 205, 157);
}

.project-description {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

/*About*/

.about-heading {
  font-size: 60px;
}

.about-paragraph {
  text-transform: lowercase;
}

.view-project-btn {
  margin: 20px;
}

.shecodes-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  .hero {
    padding: 60px 20px;
  }

  .project-title {
    font-size: 32px;
    text-align: center;
  }

  .project-description {
    text-align: center;
  }

  .p-heading {
    text-align: center;
    font-size: 11px;
  }

  .contact-btn,
  .project-link {
    font-size: 10px;
  }

  .project-link {
    display: block;
    width: 225px;
    text-align: center;
  }
}
